h1{
    font-family: "Arial";
    color:aliceblue;
    border:#000000;
}
p{
    font-family: "Arial";
    color:aliceblue;
    border:#000000,;
}

html { 
    background: url(tagus.jpg) ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    width: 1920px;
    height: 900px;
    border: 2px solid;
    color: black;
    resize: both;
    overflow: scroll;
    position:relative;
  }
#medimg{
  height:60%;
  width:60%;
  overflow: scroll;
  z-index: 1;
}

#medscangif{
  height: 60%;
  width: 24.7%;
  position: absolute;
  right: 956px;
  top: 640px;
  z-index: 3;
  visibility:hidden;
}
#medscanimage{
  height: 19.5%;
  width: 18.5%;
  position: absolute;
  right: 1000px;
  top: 968px;
  z-index: 3;
}  
#nupp_pealehele{
  position:absolute;
  top: 850px;
  left:90px;
}

#medscanbutton{
  position:absolute;
  height:35px;
  width:300px;
  top:1160px;
  left:590px;
  font-size:large;
  font-family:'Amatic SC';
  opacity: 100%;
}
p:hover {
    background-color: gray;
    
  }

.static {
    height: 100px;
    width: 100px;
    opacity:100;
    background-color: #6d8689;
  }
  
.static:hover {
    height: 100px;
    width: 100px;
    opacity:0;
  }
.active{
    height: 100px;
    width: 100px;
}
.active:hover{
    height: 100px;
    width: 100px;
}
.parent {
    position: relative;
    height:100px;
    width:100px;
  }
.child {
    position: absolute;
    top:0;
    left:0;
    height:100px;
    width:100px;
  }

/* GIFi viide: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.deviantart.com%2Fframed51%2Fart%2FScannin-At-the-Medbay-857413712&psig=AOvVaw3cpRdctVu35NplwvDzGsHn&ust=1669978138338000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJDdzb-f2PsCFQAAAAAdAAAAABAE */