@font-face {
    font-family: "Roboto";
    src: url("lib/RobotoMono-Bold.ttf")  format("truetype");
}
h1{
    font-family: "Roboto";
    font-size: 60px;
    color:aliceblue;
    border:#000000;
    padding: 20px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000000;
}
p{
    font-family: "Roboto";
    color:aliceblue;
    border:#000000;
}
.leht{
    font-family: "Roboto";
    color:aliceblue;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    width: 700px;
    border: 6px;
    padding: 20px;
    margin: 10px;
}
#pealehebody {
    background-image: url("lib/background.jpg");
    background-color: #000000;
   }

#text {
    font-family: "Roboto";
    font-size: 25px;
    width: 700px;
    border: 6px;
    padding: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
#impostor{
    color: red;
    background: none;
}
#crewmate{
    color: blue;
    background: none;
}
#task{
    color: greenyellow;
    background: none;
}
#pilt{
    position: fixed;
    left: 800px;
    top: 150px;
    border-radius: 40px;
    background: url("lib/amogus.jpg"); 
    border: 2px black;
    background-position: left top;
    background-repeat: repeat;
    height: 450px;
    width: 450px;
}
a:hover {
    background-color: red;
  }
#kaart{
    z-index:10;
    cursor:move;
    position:absolute;
    top: 50px;
    left: 400px
}
#kaartheader{
    z-index:11;
    cursor:move;
    position:absolute;
}