h1{
    font-family: "Arial";
    color:aliceblue;
    border:#000000;
}
p{
    font-family: "Arial";
    color:aliceblue;
    border:#000000;
}
p:hover {
    background-color: red;
  }
html { 
    background:url(tagus.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    width: 1920px;
    height: 900px;
    border: 2px solid;
    color: black;
    resize: both;
    overflow: scroll;
}
img{
    display:none
}