@font-face {
  font-family: "Roboto";
  src: url("RobotoMono-Bold.ttf")  format("truetype");
}
h1{
  font-family: "Roboto";
  font-size: 40px;
  color:aliceblue;
  border:hsl(0, 0%, 0%);
  padding: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
p{
  font-family: "Roboto";
  font-size: 25px;
  color:aliceblue;
  width: 700px;
  border: 6px;
  padding: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
#impostor{
  color: red;
  background: none;
}
#nupp{
  font-family: "Roboto";
  margin:20px;
  opacity: 100%;
}
html { 
  background:url(tagus.jpg) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  width: 1920px;
  height: 900px;
  border: 2px solid;
  color: black;
  resize: both;
  overflow: scroll;
  padding: 20px;
}
#eleimg{
  display:none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  resize: both;
  overflow: scroll;
  padding: 20px;
}
.static {
  height: 100px;
  width: 100px;
  opacity:100;
  background-color: #000000;
  padding: 20px;
  }
  
.static:hover {
  height: 100px;
  width: 100px;
  opacity:0;
  padding: 20px;
  }
.active{
  height: 100px;
  width: 100px;
  padding: 20px;
}
.active:hover{
  height: 100px;
  width: 100px;
  padding: 20px;
}
.parent {
  position: relative;
  height:100px;
  width:100px;
  padding: 20px;
  }
.child {
  position: absolute;
  top:0;
  left:0;
  height:100px;
  width:100px;
  padding: 20px;
  }