@font-face {
  font-family: "Roboto";
  src: url("lib/RobotoMono-Bold.ttf")  format("truetype");
}
h1{
  font-family: "Roboto";
  font-size: 40px;
  color:aliceblue;
  border:hsl(0, 0%, 0%);
  padding: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
#tekst1{
  font-family: "Roboto";
  font-size: 25px;
  color:aliceblue;
  width: 750px;
  border: 6px;
  padding: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
#crewmate{
  color: blue;
  background: none;
}
#impostor{
  color: red;
  background: none;
}
#task{
  color: greenyellow;
  background: none;
}
html { 
    background: url(lib/background.jpg) ; 
    background-size: contain;
    width: 1920px;
    height: 900px;
    border: 2px solid;
    color: black;
    resize: both;
    overflow: scroll;
    position:relative;
  }
#medimg{
  position: absolute;
  height: 600px;
  width: 600px;
  /* overflow: scroll; */
  z-index: 1;
  top: 40px;
  right: 500px;
}
#medscangif{
  height: 255px;
  width: 245px;
  position: absolute;
  right: 597px;
  top: 356px;
  z-index: 3;
  visibility:hidden;
}

#textbox{
  height: 255px;
  width: 400px;
  position: absolute;
  right: 220px;
  top: 100px;
  z-index: 4;
  border-radius: 15px;
  border: gray 5px;
  opacity: 0;
  filter: alpha(opacity=40);
}

.animation {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
} 

#medscanimage{
  height: 85px;
  width: 185px;
  position: absolute;
  right: 620px;
  top: 510px;
  z-index: 3;
}  
#nupp_pealehele{
  position:absolute;
  top: 420px;
  right: 990px;
  z-index: 2;
}
#medscanbutton{
  position:absolute;
  height:30px;
  width:260px;
  top: 620px;
  right: 580px;
  font-size: 11px;
  font-family:'Roboto';
  opacity: 100%;
  z-index: 3;
}
.static {
    height: 80px;
    width: 80px;
    opacity:100%;
    background-color: #6d8689;
  }
.static:hover {
    height: 80px;
    width: 80px;
    opacity:0;
  }
.active{
    height: 80px;
    width: 80px;
}
.active:hover{
    height: 80px;
    width: 80px;
}
.parent {
    position: relative;
    height:80px;
    width:80px;
  }
.child {
    position: absolute;
    top:0;
    left:0;
    height:80px;
    width:80px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  max-height: 200px;
  top:50px;
  position: relative;
  margin: 120px;
}

/* Hide the images by default */
.mySlides {
  display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: aliceblue;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: "Roboto";
  color: aliceblue;
  font-size: 24px;
  padding: 8px 15px;
  position: absolute;
  top: -35px;
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: "Roboto";
  color: aliceblue;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}